<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
</head>
<body>

<nav class="navbar bg-body-tertiary">
  <div class="container-fluid d-flex justify-content-between">
    <form th:action="@{/logout}" method="post" class="m-0">
      <button class="btn btn-outline-danger" type="submit">Cerrar sesión</button>
    </form>

    <div class="d-flex">
      <a href="/productos" class="btn btn-outline-primary me-2">Inventario</a>
      <a href="/ventas" class="btn btn-outline-primary me-2">Ventas</a>
      <a href="/facturas" class="btn btn-outline-primary">Facturas</a>
    </div>
  </div>
</nav>

  <div th:if="${message}" class="alert alert-success alert-dismissible fade show" role="alert">
    <span th:text="${message}"></span>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6"> <!-- Cambia el tamaño de la columna según sea necesario -->
        <div class="card">
          <div class="card-header">
            <h5 class="mb-0">Detalles del Producto</h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <strong>Nombre del producto:</strong>
              <span th:text="${producto.nombre}"></span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <strong>Código:</strong>
              <span th:text="${producto.codigoProducto}"></span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <strong>Precio:</strong>
              <span th:text="'Q' + ${producto.precio}"></span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <strong>Stock disponible:</strong>
              <span th:text="${producto.existencias}"></span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <a th:href="@{/productos/{codigoProducto}/reporte(codigoProducto=${producto.codigoProducto})}" class="btn btn-success">Generar Reporte PDF</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <footer class="footer fixed-bottom bg-secondary">
    <div class="container text-center">
            <span class="text-white">
                &copy; Distribuidora Centroamericana S.A.
            </span>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>
</html>